In [1]:
import numpy as np
import pandas as pd
import string
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import wordnet
from nltk.stem import PorterStemmer

In [2]:
df = pd.read_csv('spam_ham_dataset.csv')

In [3]:
df['text_lowered'] = df['text'].apply(lambda x: x.lower())

In [4]:
def remove_punctuation(text):
    punctuationfree = "".join([i for i in text if i not in string.punctuation])
    return punctuationfree


df['text_punctuationfree'] = df['text_lowered'].apply(lambda x: remove_punctuation(x))

In [5]:
stopwords = nltk.corpus.stopwords.words('english')

In [6]:
df['text_punctuationfree'] = df['text_punctuationfree'].apply(lambda x: re.split(r"\s+", x))


def remove_stopwords(text):
    output = [i for i in text if i not in stopwords]
    return output


df['text_stopwordfree'] = df['text_punctuationfree'].apply(lambda x: remove_stopwords(x))
#df.head()

In [7]:
ps = PorterStemmer()

df['text_stem']= df['text_stopwordfree'].apply(lambda x: [ps.stem(word) for word in x])
#df.head()

In [8]:
lemm = nltk.stem.WordNetLemmatizer()

df['text_lemm'] = df['text_stopwordfree'].apply(lambda x: [lemm.lemmatize(word) for word in x])
#df.head()

In [9]:
df['text_lemm'] = df['text_lemm'].apply(lambda x: ' '.join([item for item in x]))
df['text_stem'] = df['text_stem'].apply(lambda x: ' '.join([item for item in x]))
df.drop('text',axis=1)
df.head()

,Unnamed: 0,label,text,label_num,text_lowered,text_punctuationfree,text_stopwordfree,text_stem,text_lemm
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,subject: enron methanol ; meter # : 988291\r\n...,"[subject, enron, methanol, meter, 988291, this...","[subject, enron, methanol, meter, 988291, foll...",subject enron methanol meter 988291 follow not...,subject enron methanol meter 988291 follow not...
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,"subject: hpl nom for january 9 , 2001\r\n( see...","[subject, hpl, nom, for, january, 9, 2001, see...","[subject, hpl, nom, january, 9, 2001, see, att...",subject hpl nom januari 9 2001 see attach file...,subject hpl nom january 9 2001 see attached fi...
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,"subject: neon retreat\r\nho ho ho , we ' re ar...","[subject, neon, retreat, ho, ho, ho, we, re, a...","[subject, neon, retreat, ho, ho, ho, around, w...",subject neon retreat ho ho ho around wonder ti...,subject neon retreat ho ho ho around wonderful...
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,"subject: photoshop , windows , office . cheap ...","[subject, photoshop, windows, office, cheap, m...","[subject, photoshop, windows, office, cheap, m...",subject photoshop window offic cheap main tren...,subject photoshop window office cheap main tre...
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,subject: re : indian springs\r\nthis deal is t...,"[subject, re, indian, springs, this, deal, is,...","[subject, indian, springs, deal, book, teco, p...",subject indian spring deal book teco pvr reven...,subject indian spring deal book teco pvr reven...

In [10]:
df.drop('label',axis=1)

,Unnamed: 0,text,label_num,text_lowered,text_punctuationfree,text_stopwordfree,text_stem,text_lemm
0,605,Subject: enron methanol ; meter # : 988291\r\n...,0,subject: enron methanol ; meter # : 988291\r\n...,"[subject, enron, methanol, meter, 988291, this...","[subject, enron, methanol, meter, 988291, foll...",subject enron methanol meter 988291 follow not...,subject enron methanol meter 988291 follow not...
1,2349,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,"subject: hpl nom for january 9 , 2001\r\n( see...","[subject, hpl, nom, for, january, 9, 2001, see...","[subject, hpl, nom, january, 9, 2001, see, att...",subject hpl nom januari 9 2001 see attach file...,subject hpl nom january 9 2001 see attached fi...
2,3624,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,"subject: neon retreat\r\nho ho ho , we ' re ar...","[subject, neon, retreat, ho, ho, ho, we, re, a...","[subject, neon, retreat, ho, ho, ho, around, w...",subject neon retreat ho ho ho around wonder ti...,subject neon retreat ho ho ho around wonderful...
3,4685,"Subject: photoshop , windows , office . cheap ...",1,"subject: photoshop , windows , office . cheap ...","[subject, photoshop, windows, office, cheap, m...","[subject, photoshop, windows, office, cheap, m...",subject photoshop window offic cheap main tren...,subject photoshop window office cheap main tre...
4,2030,Subject: re : indian springs\r\nthis deal is t...,0,subject: re : indian springs\r\nthis deal is t...,"[subject, re, indian, springs, this, deal, is,...","[subject, indian, springs, deal, book, teco, p...",subject indian spring deal book teco pvr reven...,subject indian spring deal book teco pvr reven...
...,...,...,...,...,...,...,...,...
5166,1518,Subject: put the 10 on the ft\r\nthe transport...,0,subject: put the 10 on the ft\r\nthe transport...,"[subject, put, the, 10, on, the, ft, the, tran...","[subject, put, 10, ft, transport, volumes, dec...",subject put 10 ft transport volum decreas 2500...,subject put 10 ft transport volume decreased 2...
5167,404,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0,subject: 3 / 4 / 2000 and following noms\r\nhp...,"[subject, 3, 4, 2000, and, following, noms, hp...","[subject, 3, 4, 2000, following, noms, hpl, ta...",subject 3 4 2000 follow nom hpl take extra 15 ...,subject 3 4 2000 following noms hpl take extra...
5168,2933,Subject: calpine daily gas nomination\r\n>\r\n...,0,subject: calpine daily gas nomination\r\n>\r\n...,"[subject, calpine, daily, gas, nomination, jul...","[subject, calpine, daily, gas, nomination, jul...",subject calpin daili ga nomin juli mention ear...,subject calpine daily gas nomination julie men...
5169,1409,Subject: industrial worksheets for august 2000...,0,subject: industrial worksheets for august 2000...,"[subject, industrial, worksheets, for, august,...","[subject, industrial, worksheets, august, 2000...",subject industri worksheet august 2000 activ a...,subject industrial worksheet august 2000 activ...
5170,4807,Subject: important online banking alert\r\ndea...,1,subject: important online banking alert\r\ndea...,"[subject, important, online, banking, alert, d...","[subject, important, online, banking, alert, d...",subject import onlin bank alert dear valu citi...,subject important online banking alert dear va...

In [11]:
from textblob import TextBlob

#df['text_corrected']= df['text_lemm'].apply(lambda x: [spell.correction(word) for word in x])
#df.head()
#df['text_string'].apply(lambda txt: ''.join(TextBlob(txt).correct()))

In [12]:
#pip install textblob

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix

In [14]:
y = df['label_num']

logreg = LogisticRegression()
vectorizer = TfidfVectorizer()
vectorizer.fit(df['text_lemm'])
x_vect = vectorizer.transform(df['text_lemm'])

xtrain,xtest,ytrain,ytest = train_test_split(x_vect,y,test_size=0.3,random_state=1153)

logreg_model = logreg.fit(xtrain,ytrain)
ytrain_pred = logreg_model.predict(xtrain)

ytest_pred = logreg_model.predict(xtest)
accuracy_score(ytest,ytest_pred)

0.9871134020618557

In [15]:
y = df['label_num']

logreg = LogisticRegression()
vectorizer1 = TfidfVectorizer()
vectorizer1.fit(df['text_stem'])
x_vect1 = vectorizer.transform(df['text_stem'])

xtrain,xtest,ytrain,ytest = train_test_split(x_vect1,y,test_size=0.3,random_state=11434)

logreg_model = logreg.fit(xtrain,ytrain)
ytest_pred = logreg_model.predict(xtest)
accuracy_score(ytest,ytest_pred)

0.9800257731958762

In [16]:
y = df['label_num']

logreg = LogisticRegression()
vectorizer2 = TfidfVectorizer()
vectorizer2.fit(df['text_lowered'])
x_vect2 = vectorizer.transform(df['text_lowered'])

xtrain,xtest,ytrain,ytest = train_test_split(x_vect2,y,test_size=0.3,random_state=1153)

logreg_model = logreg.fit(xtrain,ytrain)
ytrain_pred = logreg_model.predict(xtrain)

ytest_pred = logreg_model.predict(xtest)
accuracy_score(ytest,ytest_pred)

0.9632731958762887

In [21]:
from sklearn.naive_bayes import GaussianNB
y = df['label_num']

NB = GaussianNB()
vectorizer = TfidfVectorizer()
vectorizer.fit(df['text_lemm'])
x_vect = vectorizer.transform(df['text_lemm'])

xtrain,xtest,ytrain,ytest = train_test_split(x_vect,y,test_size=0.3,random_state=11983)

NB_model = NB.fit(xtrain.toarray(),ytrain)
ytrain_pred = NB_model.predict(xtrain.toarray())

ytest_pred = NB_model.predict(xtest.toarray())
accuracy_score(ytest,ytest_pred)

0.9574742268041238

In [ ]:
y = df['label_num']

NB = GaussianNB()
vectorizer = TfidfVectorizer()
vectorizer.fit(df['text_stem'])
x_vect = vectorizer.transform(df['text_stem'])

xtrain,xtest,ytrain,ytest = train_test_split(x_vect,y,test_size=0.3,random_state=1231)

NB_model = logreg.fit(xtrain,ytrain)
ytrain_pred = NB_model.predict(xtrain)

ytest_pred = NB_model.predict(xtest)
accuracy_score(ytest,ytest_pred)

In [ ]:
y = df['label_num']

NB = GaussianNB()
vectorizer = TfidfVectorizer()
vectorizer.fit(df['text_lowered'])
x_vect = vectorizer.transform(df['text_lowered'])

xtrain,xtest,ytrain,ytest = train_test_split(x_vect,y,test_size=0.3,random_state=7542)

NB_model = logreg.fit(xtrain,ytrain)
ytrain_pred = NB_model.predict(xtrain)

ytest_pred = NB_model.predict(xtest)
accuracy_score(ytest,ytest_pred)